.wrapper {
    max-width: calc(950px - (30px));
}

.program {
    background: #e14e32; 
    text-align: center; 
    color: whitesmoke;
    border-radius: 10px 0px 0px 10px;
    padding-top: .4rem;
}

.btn.btn-primary {
    background: rgb(0, 128, 122);
    border-color: rgb(0, 128, 122);
    color: whitesmoke;
}

.btn {
    background: whitesmoke;
    border-color: #515e56;
    color: #515e56;
}

/*
img {
    box-shadow: 6px 7px 5px 0px rgb(161, 160, 161);
}
*/

